<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.zodl.helloworld</string>
    <key>CFBundleName</key>
    <string>HelloWorld</string>
    <key>CFBundleDisplayName</key>
    <string>Hello World</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.46</string>
    <key>CFBundleExecutable</key>
    <string>HelloWorld</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/zodl-inc/poc-macos-dmg/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>SPARKLE_EDDSA_KEY_PLACEHOLDER</string>
</dict>
</plist>
